html {
    background-color: #282a36;
    color: #b2b2b2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: #282a36;
    color: #b2b2b2;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    font-size: 20px;
}

h3 {
    font-size: 15px;
}

.col-chart{
    display: inline-block;
    width: 99%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #282a36;
    color: #b2b2b2;
  }

.title{
    display: inline-block;
    border-left: 5px solid #50fa7b;
    background-color: #282a36;
    color: #b2b2b2;
    padding-top: 10px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 60px;
}

.subtitle {
    left: 0;
    height: 20%;
    margin: 0mm;
    border-left: 5px solid #bd93f9;
    background: #44475a ;
    color: #b2b2b2;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 30px;
    padding-right: 60px;
  }

.event-text {
    font-size: 10px;
    margin-bottom: 5px;
    text-align: left;
}